{% extends "page.html" %}

{% block subtitle %}{{ _('Custom page') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Custom page'), controller='ckanext.shoppingcart.plugin:CustomController', action='custom_page' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Custom page') }}</h1>

      <p>This is a custom page for your instance</p>

      <div>
        <p> Photo by <a href="http://www.google.com">asirap</a> CC BY-NC-SA</p>
      </div>

    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}